{# You may overwrite this template by adding a admin-login.twig to your custom theme #}

{% extends "admin.twig" %}

{% block documentTitle %}Pico Admin Login | {{ site_title }}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <form action="" method="post">
        <fieldset>
            <legend>Pico Admin Login</legend>

            <input type="password" name="password" placeholder="Password" />
            <input type="submit" value="Login" />
        </fieldset>
    </form>
{% endblock %}
