* {
    box-sizing: border-box;
}

body {
    font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #444;
    margin: 0;
}

a {
    color: #2EAE9B;
    text-decoration: none;
}
a:hover {
    color: #444;
}

.sr-only { display: none; }

/*** LAYOUT ***/

body { height: 100vh; }
body, main, main > aside { display: flex; }
body, main > aside { flex-direction: column; }

main {
    flex: 1 0 auto;
    overflow-x: auto;
}
main > section { flex: 2 1 auto; }

main > aside {
    flex: 0 0 auto;
    resize: horizontal;
    overflow: auto;
    min-width: 1rem;
}

@media (max-width: 767px) {
    main { flex-direction: column; }
    main > aside {
        resize: vertical;
        min-width: none;
        min-height: 1rem;
    }
}

/*** LAYOUT STYLING ***/

aside h1 {
    display: block;
    width: 100%;
    margin: 0;
    padding: 1rem;
    background: #2EAE9B;
    color: #fff;
    z-index: 110;
}
aside h1 a,
aside h1 a:hover {
    color: #fff;
}

aside nav h3 {
    margin: 0;
    padding: 1rem 1rem 0.5rem 1rem;
    border-bottom: 1px solid #ddd;
}

footer {
    background: #707070;
    font-size: 0.85rem;
    color: #C0C0C0;
}
footer > * {
    margin: 1rem;
}
footer a { color: #ddd; }
footer a:hover { color: #fff; }

/*** LOADING ***/

#loading {
    position: fixed;
    top: 0;

    width: 0px;
    height: 4px;
    z-index: 100;

    background: #2EAE9B;
    opacity: 1;

    border-bottom: 1px solid #159582;
    border-right: 1px solid #159582;
    border-bottom-right-radius: 2.667px;

    transition: none;
}
#loading.wait {
    transition: width 800ms ease-in-out;
}
#loading.finish {
    display: block !important;
    width: 100% !important;
    opacity: 0;

    transition: width 800ms ease-in-out,
                opacity 600ms ease 300ms, width 600ms ease-in-out;
}

#loading .glow {
    width: 100%;
    height: 4px;

    opacity: 0.5;
    background: transparent;
    box-shadow: 1px -1px 4px 2px #159582;
}
#loading.wait .glow {
    animation: loading-pulse 2s ease-in-out 800ms infinite;
}

@-webkit-keyframes loading-pulse {
    0% { opacity: 0.5; }
    50% { opacity: 1; }
    100% { opacity: 0.5; }
}
@keyframes loading-pulse {
    0% { opacity: 0.5; }
    50% { opacity: 1; }
    100% { opacity: 0.5; }
}

/*** FONT AWESOME ***/

.fa-sub-arrow::after {
    content: "\f063";
    font-size: 60%;
    vertical-align: sub;
}

.fa-sub-star::after {
    content: "\f005";
    font-size: 60%;
    vertical-align: sub;
}

.fa-stack-exclamation::before {
    margin-left: 0.24em;
}
.fa-stack-exclamation::after {
    content: "\f12a";
    font-size: 60%;
    position: relative;
    top: -0.2em;
    left: -0.95em;
}
