.hidden {
    display: none !important;
}

.detached {
    position: absolute !important;
}

.slide {
    overflow: hidden !important;
    -webkit-transition: height .6s ease-in-out,
                        width .6s ease-in-out !important;
            transition: height .6s ease-in-out,
                        width .6s ease-in-out !important;
}

.fade {
    -webkit-transition: opacity .3s ease-in !important;
            transition: opacity .3s ease-in !important;
}
.fade.slow {
    -webkit-transition: opacity .6s ease-in !important;
            transition: opacity .6s ease-in !important;
}

.cross-fade {
    position: relative !important;
    overflow: hidden !important;
}
.cross-fade > .cross-fade-hide {
    pointer-events: none !important;
    z-index: 100;
}

.smooth {
    -webkit-transition: all .2s ease-in;
            transition: all .2s ease-in;
}
